{{define "McisList"}}
	<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>List of MCIS</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<p>NS name</p>
													<ul>
														<li><a href="javascript:void(0);">name</a></li>
														<li><a href="javascript:void(0);">status</a></li>
														<li><a href="javascript:void(0);">Description</a></li>
														<li><a href="javascript:void(0);">Server name</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">name</a></li>
														<li><a href="javascript:void(0);">status</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li>
															<strong>Life Cycle</strong>
															<ul>
																<!-- <li><a href="javascript:void(0);" data-toggle="modal" data-target="#Life_Start">Start</a></li> -->
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Reboot">Reboot</a></li>
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Suspend">Suspend</a></li>
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Resume">Resume</a></li>								
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Terminate">Terminate</a></li>
															</ul>
														</li>
														<li>
															<strong>Manage</strong>
															<ul>
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_n_New" onClick="commonConfirmOpen('AddNewMCIS')">New / Extend</a></li>
															</ul>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>						
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup><col width=""><col width=""><col width="15%"><col width="15%"><col width="17%"><col width="18%"><col width="50px"></colgroup>
										<thead>
											<tr>
												<th>Status</th>
												<th>Name</th>
												<th>Cloud Connection</th>
												<th>Total Infras <span>Count of Total Servers</span></th>
												<th># of Servers <span>Count of Run / Stop / Pause / etc</span></th>
												<th>Description</th>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
											</tr>
										</thead>
										<tbody id="mcisList">
											<!-- //
											// mcis.ID, mcis.status, mcis.name -->
											{{ $length := len .MCISList }} 
											{{ if eq $length 0 }}
											<tr>
												<td class="overlay hidden" data-th="" colspan="8">No Data</td>
											</tr>
											{{ end }}
											{{range $index, $item := .MCISList}}

											<tr onclick="clickListOfMCIS('{{$item.ID}}', '{{$index}}' );" id="server_info_tr_{{$index}}" item="{{$item.ID}}|{{$index}}">
												<td class="overlay hidden td_left" data-th="Status">
													<img src="/assets/img/contents/icon_{{$item.McisStatus}}.png" class="icon" alt=""/>{{$item.Status}}<span class="ov off"></span>
													
												</td>
												<!-- <td class="overlay hidden td_left" data-th="Status">
													<img src="/assets/img/contents/icon_stop.png" class="icon" alt=""/> '+sta+' <span class="ov off"></span>
												</td> -->
												<td class="btn_mtd ovm" data-th="Name">{{$item.Name}}<span class="ov"></span></td>
												
												<td class="overlay hidden" data-th="Cloud Connection">
													{{ $item.ConnectionConfigProviderNames}}
												</td>
												{{ $vmStatusCountMap := $item.VmStatusCountMap}}
												<td class="overlay hidden" data-th="Total Infras">{{$vmStatusCountMap.TOTAL}}</td>
												<td class="overlay hidden" data-th="# of Servers">
													<span class="bar" ></span> <span title="running">{{$vmStatusCountMap.running}}</span>
													<span class="bar" >/</span> <span title="stopped">{{$vmStatusCountMap.stopped}}</span>
													<span class="bar" >/</span> <span title="terminated">{{$vmStatusCountMap.terminated}}</span>
													<span class="bar" >/</span> <span title="etc">{{$vmStatusCountMap.etc}}</span>
												</td>
												<td class="overlay hidden" data-th="Description">{{$item.Description}}</td>
												<td class="overlay hidden" data-th="">
													<input type="checkbox" name="chk" value="{{$item.ID}}" id="td_ch_{{$index}}" title="" />
													<label for="td_ch_{{$index}}"></label>

													<!--MCIS 기본정보 hidden : 클릭시 보여주기 위해-->
													<input type="hidden" name="mcisID" value="{{$item.ID}}" id="mcisID{{$index}}"/>
													<input type="hidden" name="mcisName" value="{{$item.Name}}" id="mcisName{{$index}}"/>
													<input type="hidden" name="mcisStatus" value="{{$item.McisStatus}}" id="mcisStatus{{$index}}"/>
													<input type="hidden" name="mcisDescription" value="{{$item.Description}}" id="mcisDescription{{$index}}"/>
													<input type="hidden" name="mcisCloudConnections" value="{{$item.ConnectionConfigProviderNames}}" id="mcisCloudConnections{{$index}}"/>
													<input type="hidden" name="mcisVMStatusList" value="{{$item.VmStatusNames}}" id="mcisVMStatusList{{$index}}"/><!-- @ 와 |(파이프 라인) 을 구분자로 -->
													<input type="hidden" name="mcisVMTotalCount" value="{{$vmStatusCountMap.TOTAL}}" id="mcisVMTotalCount{{$index}}"/>
													

												</td>
										
											</tr>
											{{ end }}
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									// $(document).ready(function(){
									// 	var url = CommonURL+"/ns/"+NAMESPACE+"/mcis";								
									// 		show_mcis_list2(url);// mcis, server 상태표시								    
									// });
								</script>
								
								
								<!-- <div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div> -->
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
{{end}}