{{define "NlbCreate"}}
	<!-- Modify -->
    <div class="dashboard dashboard_cont server_status" id="nlbInfoBox">

        <div class="d_box box_m box_w100">
            <div class="titbox_n">
                <div class="tit initial"><strong>SSH Key Info</strong> [<span class="stxt"></span>]</div>
            </div>

            <div class="ds_cont">
                <div class="register_box">

                    <div class="top_ipbox">
                        <div class="ipbox ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <label>SSH Key Name</label>
                                    <span class="sbox">
                                        <input type="hidden" id="dtlCspSshKeyId" name="" value="" placeholder=""
                                               class="gray" title="" readonly />
                                        <input type="text" id="dtlCspSshKeyName" name="" value="" placeholder=""
                                            class="gray" title="" readonly />
                                        /
                                        <input type="text" id="dtlSshKeyName" name="" value="" placeholder=""
                                               class="gray" title="" readonly />
                                        <input type="hidden" id="dtlSshKeyId" name="" value="" placeholder=""
                                               class="gray" title="" readonly />
                                        <!--<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="icon" alt="" /></a>-->
                                    </span>
                                </li>
                                <li class="reg_1">
                                    <label>Description</label>
                                    <textarea id="dtlDescription" cols="" rows="" placeholder="" class="gray" title=""
                                        readonly></textarea>
                                </li>
                            </ul>
                        </div>
                        <div class="ipbox ipbox2">
                            <ul>
                                <li class="reg_3">
                                    <label>Connection Name</label>
                                    <input type="text" id="dtlConnectionName" name="" value="" placeholder=""
                                        class="gray" title="" readonly />
                                </li>
                                <li class="reg_3">
                                    <label>publicKey</label>
                                    <input type="text" id="dtlPublicKey" name="" value="" placeholder="" class="gray"
                                        title="" readonly />
                                </li>
                                <li class="reg_3">
                                    <label>privateKey</label>
                                    <textarea id="dtlPrivateKey" cols="" rows="" placeholder="" class="gray" title=""
                                        readonly></textarea>
                                    <!-- <input type="text" id="dtlPrivateKey" name="" value="" placeholder="" class="gray" title="" readonly /> -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="top_ipbox bottom_ipbox">
                        <div class="ipbox ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <label>username</label>
                                    <input type="text" id="dtlUsername" name="" value="" placeholder="" class="gray"
                                        title="" readonly />
                                    <input type="hidden" id="dtlUserID" name="" value="" placeholder="" class="gray"
                                        title="" readonly />
                                </li>
                            </ul>
                        </div>
                        <div class="ipbox ipbox2">
                            <ul>
                                <li class="reg_3">
                                    <label>fingerprint</label>
                                    <!-- <input type="text" name="" value="" placeholder="fingerprint" class="gray" title="" readonly /> -->
                                    <textarea id="dtlFingerprint" cols="" rows="" placeholder="" class="gray" title=""
                                        readonly></textarea>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- //Modify -->

    <!-- Register Security -->
    <div class="dashboard dashboard_cont register_cont" id="nlbCreateBox">

        <div class="d_box box_m box_w100">
            <div class="titbox_n">
                <div class="tit initial cg"><strong>Create Nlb</strong></div>
            </div>

            <div class="ds_cont">
                <div class="register_box reg">

                    <div class="top_ipbox">
                        <div class="ipbox ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <label><span class="ch">*</span>Nlb Name</label>
                                    <input type="text" name="reg_cspSshKeyName" id="regCspSshKeyName" value=""
                                        placeholder="Input Name" class="pline" title="" />
                                </li>
                            </ul>
                        </div>
                        <div class="ipbox ipbox2">
                            <ul>
                                <li class="reg_3">
                                    <label>Cloud Provider</label>
                                    <!-- <input type="text" name="" value="" placeholder="AWS, AZURE, GCP, ALIBABA / Region" class="pline" title="" /> -->
                                    <select class="selectbox white pline w3" name="ProviderName" id="regProvider"
                                        onchange="getConnectionListForSelectbox(this.value, 'regConnectionName')">
                                        <option value="" selected>Select Cloud Provider</option>
                                        {{ range $item := .CloudOSList}}
                                        <option value="{{ $item }}">{{ $item }}</option>
                                        {{ end }}
                                        <option value="MOCK">MOCK</option> <!-- 임시로 MOCK 추가-->
                                    </select>
                                </li>

                                <li class="reg_3">
                                    <label><span class="ch">*</span>Connection Name</label>
                                    <!-- <input type="text" name="" value="" placeholder="Select / Input fingerprint" class="pline ip_w1" title="" /> -->
                                    <!-- <textarea cols="" rows="" placeholder="Description" class="pline ip_w1" title="" readonly></textarea> -->
                                    <select class="selectbox white pline w3" name="reg_connectionName"
                                        id="regConnectionName">
                                        <option value="" selected>Select Connection Name</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="btnbox">
                        <div class="btn_center">
                            <button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
                                onclick="displayNlbInfo('CLOSE')">Cancel</button>
                            <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                                onclick="createNlb()">Ok</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- //Register Security -->
	{{end}}