{{define "NlbCreate"}}
<!-- Modify -->
<div class="dashboard dashboard_cont server_status" id="nlbInfoBox">
    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial">
                <strong>SSH Key Info</strong> [<span class="stxt"></span>]
            </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">
                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label>SSH Key Name</label>
                                <span class="sbox">
                                    <input
                                        type="hidden"
                                        id="dtlCspSshKeyId"
                                        name=""
                                        value=""
                                        placeholder=""
                                        class="gray"
                                        title=""
                                        readonly
                                    />
                                    <input
                                        type="text"
                                        id="dtlCspSshKeyName"
                                        name=""
                                        value=""
                                        placeholder=""
                                        class="gray"
                                        title=""
                                        readonly
                                    />
                                    /
                                    <input
                                        type="text"
                                        id="dtlSshKeyName"
                                        name=""
                                        value=""
                                        placeholder=""
                                        class="gray"
                                        title=""
                                        readonly
                                    />
                                    <input
                                        type="hidden"
                                        id="dtlSshKeyId"
                                        name=""
                                        value=""
                                        placeholder=""
                                        class="gray"
                                        title=""
                                        readonly
                                    />
                                    <!--<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="icon" alt="" /></a>-->
                                </span>
                            </li>
                            <li class="reg_1">
                                <label>Description</label>
                                <textarea
                                    id="dtlDescription"
                                    cols=""
                                    rows=""
                                    placeholder=""
                                    class="gray"
                                    title=""
                                    readonly
                                ></textarea>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li class="reg_3">
                                <label>Connection Name</label>
                                <input
                                    type="text"
                                    id="dtlConnectionName"
                                    name=""
                                    value=""
                                    placeholder=""
                                    class="gray"
                                    title=""
                                    readonly
                                />
                            </li>
                            <li class="reg_3">
                                <label>publicKey</label>
                                <input
                                    type="text"
                                    id="dtlPublicKey"
                                    name=""
                                    value=""
                                    placeholder=""
                                    class="gray"
                                    title=""
                                    readonly
                                />
                            </li>
                            <li class="reg_3">
                                <label>privateKey</label>
                                <textarea
                                    id="dtlPrivateKey"
                                    cols=""
                                    rows=""
                                    placeholder=""
                                    class="gray"
                                    title=""
                                    readonly
                                ></textarea>
                                <!-- <input type="text" id="dtlPrivateKey" name="" value="" placeholder="" class="gray" title="" readonly /> -->
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="top_ipbox bottom_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label>username</label>
                                <input
                                    type="text"
                                    id="dtlUsername"
                                    name=""
                                    value=""
                                    placeholder=""
                                    class="gray"
                                    title=""
                                    readonly
                                />
                                <input
                                    type="hidden"
                                    id="dtlUserID"
                                    name=""
                                    value=""
                                    placeholder=""
                                    class="gray"
                                    title=""
                                    readonly
                                />
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li class="reg_3">
                                <label>fingerprint</label>
                                <!-- <input type="text" name="" value="" placeholder="fingerprint" class="gray" title="" readonly /> -->
                                <textarea
                                    id="dtlFingerprint"
                                    cols=""
                                    rows=""
                                    placeholder=""
                                    class="gray"
                                    title=""
                                    readonly
                                ></textarea>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modify -->

<!-- Register Security -->
<div class="dashboard dashboard_cont register_cont" id="nlbCreateBox">
    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial cg"><strong>Create NLB</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box reg">
                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label><span class="ch">*</span>NLB Name</label>
                                <input
                                    type="text"
                                    name="reg_name"
                                    id="reg_name"
                                    value=""
                                    placeholder="Input NLB Name"
                                    class="pline"
                                    title=""
                                />
                            </li>
                            <li class="reg_1">
                                <label>Description</label>
                                <textarea
                                    name="reg_description"
                                    id="reg_description"
                                    cols=""
                                    rows=""
                                    placeholder="Description"
                                    class="pline"
                                    title=""
                                ></textarea>
                            </li>
                            <div class="tit">
                                <span class="ch">*</span>Health Check
                            </div>
                            <li class="reg_1">
                                <label><span class="ch">*</span>Protocol</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="hc_protocol"
                                        name="hc_protocol"
                                        placeholder="TCP | HTTP | HTTPS"
                                        class="pline upper_only"
                                        title=""
                                    />
                                </span>
                            </li>

                            <li class="reg_1">
                                <label><span class="ch">*</span>Port</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="hc_port"
                                        name="hc_port"
                                        placeholder="1-65535"
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label
                                    ><span class="ch">*</span>Threshold</label
                                >
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="hc_threshold"
                                        name="hc_threshold"
                                        placeholder=""
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label><span class="ch">*</span>Interval</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="hc_interval"
                                        name="hc_interval"
                                        placeholder=""
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label><span class="ch">*</span>Timeout</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="hc_timeout"
                                        name="hc_timeout"
                                        placeholder=""
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>

                            <div class="tit">
                                <span class="ch">*</span>Listener
                            </div>
                            <li class="reg_1">
                                <label><span class="ch">*</span>Protocol</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="ls_protocol"
                                        name="ls_protocol"
                                        placeholder="TCP | UDP"
                                        class="pline upper_only"
                                        title=""
                                    />
                                </span>
                            </li>

                            <li class="reg_1">
                                <label><span class="ch">*</span>IP</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="ls_ip"
                                        name="ls_ip"
                                        placeholder=""
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>

                            <li class="reg_1">
                                <label><span class="ch">*</span>Port</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="ls_port"
                                        name="ls_port"
                                        placeholder="1-65535"
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label><span class="ch">*</span>DNS Name</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="ls_dnsName"
                                        name="ls_dnsName"
                                        placeholder=""
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Cloud Provider</label>
                                <select
                                    class="selectbox white pline w3"
                                    name="ProviderName"
                                    id="regProvider"
                                    onchange="getConnectionListForSelectbox(this.value, 'regConnectionName')"
                                >
                                    <option value="" selected>
                                        Select Cloud Provider
                                    </option>
                                    {{ range $item := .CloudOSList}}
                                    <option value="{{ $item }}">
                                        {{ $item }}
                                    </option>
                                    {{ end }}
                                </select>
                            </li>
                            <li>
                                <label>
                                    <span class="ch">*</span>Connection
                                    Name</label
                                >
                                <select
                                    class="selectbox white pline w3"
                                    name="reg_connectionName"
                                    id="regConnectionName"
                                    onchange="getVnetInfoListForSelectbox(this.value, 'regVNetId')"
                                >
                                    <option value="1">
                                        Selected Connection
                                    </option>
                                </select>
                            </li>
                            <li>
                                <label><span class="ch">*</span>VPC ID</label>
                                <select
                                    class="selectbox white pline w3"
                                    name="reg_vNetId"
                                    id="regVNetId"
                                >
                                    <option value="1">Selected VPC Id</option>
                                </select>
                            </li>
                            <li class="reg_1">
                                <label></label>
                                <span class="sbox"> </span>
                            </li>
                            <div class="tit">Target Group</div>
                            <li class="reg_1">
                                <span class="sbox">
                                    <input
                                        type="hidden"
                                        id="tg_mcisId"
                                        name="tg_mcisId"
                                        placeholder=""
                                        class="ip_w1 gray noline"
                                        title=""
                                        readonly
                                    />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label>VMS</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="tg_vms"
                                        name="tg_vms"
                                        placeholder=""
                                        class="ip_w1 gray noline"
                                        title=""
                                        readonly
                                    />
                                    <button
                                        name=""
                                        value=""
                                        class="btn_edit btn_register"
                                        onClick="getMcisVmsPop()"
                                    >
                                        VM POP
                                    </button>
                                </span>
                            </li>
                            <li class="reg_1">
                                <label>Protocol</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="tg_protocol"
                                        name="tg_protocol"
                                        placeholder="TCP | HTTP | HTTPS"
                                        class="pline upper_only"
                                        title=""
                                    />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label>Port</label>
                                <span class="sbox">
                                    <input
                                        type="text"
                                        id="tg_port"
                                        name="tg_port"
                                        placeholder="1-65535"
                                        class="pline"
                                        title=""
                                    />
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btnbox">
                    <div class="btn_center">
                        <button
                            name=""
                            value=""
                            class="btn_co btn_cr_b w135 btn_cancel"
                            onclick="displayNlbInfo('CLOSE')"
                        >
                            Cancel
                        </button>
                        <button
                            name=""
                            value=""
                            class="btn_co btn_cr_g w135 btn_ok"
                            onclick="createNlb()"
                        >
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Register Security -->

<!-- register vmpop -->
<div
    class="register_box modal fade"
    id="vmRegisterBox"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pop-body">
                    <div class="title_box">
                        <div class="title">VM Group</div>
                    </div>

                    <div class="pop-cont">
                        <!-- 
											<div class="toptxt">
												<label>Virtual Network cidrBlock</label>
												<input type="text" name="" value="cidrBlock" placeholder="" class="gray" title="" readonly />
											</div>
											-->
                        <!-- table scrollbar -->
                        <div class="dtbox scrollbar-inner">
                            <div class="dataTable dt_overlay">
                                <table
                                    cellpadding="0"
                                    cellspacing="0"
                                    border="1"
                                    summary=""
                                >
                                    <!-- <colgroup><col width=""><col width=""><col width="100px"></colgroup> -->
                                    <thead>
                                        <tr>
                                            <th class="column-50px">
                                                <input
                                                    type="checkbox"
                                                    name=""
                                                    value=""
                                                    id="th_chall"
                                                    title=""
                                                /><label for="th_chall"></label>
                                            </th>
                                            <th>MCIS</th>
                                            <th>VM Group</th>
                                            <th>VM List</th>
                                        </tr>
                                    </thead>
                                    <tbody id="vmGroupList">
                                        <tr>
                                            <td
                                                class="overlay hidden"
                                                data-th=""
                                                colspan="4"
                                            >
                                                No Data
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //table scrollbar -->

                        <div class="b_txt">
                            <span class="ch">*</span> Define the VM Group to be
                            added to MCIS and VMs and add it by clicking
                            <span class="txt">“Apply”</span>
                        </div>
                    </div>
                </div>

                <div class="btnbox">
                    <div class="btn_right">
                        <button
                            name=""
                            value=""
                            class="btn_apply btn_co btn_cr_g"
                            onclick="applyVmGroup()"
                        >
                            <span>Apply</span>
                        </button>
                        <button
                            name=""
                            value=""
                            class="btn_cancel btn_co btn_cr_b"
                            data-dismiss="modal"
                        >
                            cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //register vmpop -->
{{end}}
