{{define "VmConfigureSimple"}}

<!-- server 추가 form -->
<div class="servers_config simple_servers_config" id="simpleServerConfig">
	<form id="simple_form">
		<input type="hidden" name="provider" id="s_provider" />

		<!-- <input type="hidden" name="specId"  value="" id="s_specId" /> -->
		<!--id 에 간단설정이면 s_, Expert On 이면 e_ -->
		<input type="hidden" name="subnetId" value="" id="s_subnetId" />
		<input type="hidden" name="vNetId" value="" id="s_vNetId" />
		<input type="hidden" name="securityGroupIds[]" value="" id="s_securityGroupIds" />
		<input type="hidden" name="name" value="" id="s_name" />
		<input type="hidden" name="description" id="s_description" />
		<input type="hidden" name="provider" id="s_regProvider" />
		<input type="hidden" name="connectionName" value="" id="s_regConnectionName" />
		<input type="hidden" name="specId" id="s_spec" />
		<input type="hidden" name="imageId" id="s_imageId" />
		<input type="hidden" name="sshKeyId" id="s_sshKey" />
		<input type="hidden" name="vmUserPassword" id="s_vmUserPassword" />
		<input type="hidden" name="tempProvider" id="t_regProvider" />
		<input type="hidden" name="tempConnectionName" id="t_regConnectionName" />
		<input type="hidden" name="tempSpec" id="t_spec" />
		<input type="hidden" name="tempImage" id="t_image" />
		<input type="hidden" name="tempSshKey" id="t_sshKey" />
		<input type="hidden" name="dataDiskIds[]" id="s_dataDiskIds" />
		<input type="hidden" name="rootDiskSize" id="s_rootDiskSize" />
		<input type="hidden" name="rootDiskType" id="s_rootDiskType" />
		<!--		<input type="hidden" name="vm_cnt" value="" id="s_vm_cnt" />-->
		<input type="hidden" name="subGroupSize" value="" id="s_subGroupSize" /><!-- vm_cnt에서 subGroupSize로 변경 -->

	</form>

	<div class="top_box">
		<div class="titbox_sc">
			<div class="tit">Server Configuration</div>
		</div>

		<div class="ip_box">

			<div class="svc_ipbox">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Server Name</label>
							<input type="text" name="name" value="" placeholder="Input Name" class="pline ip_3" title=""
								id="ss_name" />
						</li>
					</ul>
				</div>
				<div class="ipbox ipbox4">
					<ul>
						<li>
							<label>Description</label>
							<textarea cols="" rows="" placeholder="Input Description" class="pline ta_3" title=""
								name="description" id="ss_description"></textarea>
						</li>
					</ul>
				</div>
			</div>

			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Provider</label>
							<select class="selectbox white pline sel_4" name="provider" id="ss_regProvider"
								onchange="getConnectionListForSelectbox(this.value, 'ss_regConnectionName');">
								<option value="">Select Provider</option>
								{{ range $item := .CloudOSList}}
								<option value="{{ $item }}">{{ $item }}</option>
								{{ end }}
							</select>
						</li>
						<li>
							<label><span class="ch">*</span>Connection Name</label>
							<select class="selectbox white pline sel_4" name="connectionName" id="ss_regConnectionName"
								onchange="changeConnectionInfo(this.value);">
								<option value="">Select Connection</option>
							</select>
						</li>
					</ul>
				</div>
			</div>

			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Spec</label>
							<select class="selectbox white pline sel_4" name="specId" id="ss_spec">
								<option value="1">Select Spec</option>
							</select>
							<a href="javascript:void(0);" class="btn_recommend">Assist</a>
						</li>
						<li>
							<label><span class="ch">*</span>which OS</label>
							<select class="selectbox white pline sel_4" name="imageId" id="ss_imageId" display=""
								onchange="select_image(this.value)">
								<option value="">Select Public Image</option>
							</select>
							<select class="selectbox white pline sel_4" name="mySnapShotId" id="ss_myImageId"
								onchange="select_image(this.value)" display="none;">

							</select>
							<div class="switch select_type">
								<span class="txt">
									<input type="hidden" id="toggle_status" value="toggle_off" />
									<label>
										<input type="checkbox" name="" class="ch" id="p_to_my"
											onclick="toggleMyImage();">
										<span></span>
									</label>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<script>
					$("#ss_myImageId").hide();
					function select_image(value) {
						$("#s_imageId").val(value);
					}
					function toggleMyImage() {
						var configName = $("#ss_regConnectionName").val();
						if (configName) {
							var toggle_status = $("#toggle_status").val();
							console.log("toggle status : ", toggle_status);
							if (toggle_status == "toggle_off") {

								getVmMyiInfo(configName);
								$("#ss_imageId").hide();
								$("#ss_myImageId").show();
								$("#toggle_status").val("toggle_on");
								$("#s_imageId").val("");
								$("#ss_imageId").find("option").removeAttr("selected")
							} else {
								$("#toggle_status").val("toggle_off");
								$("#ss_imageId").removeAttr("selected")
								$("#ss_imageId").show();
								$("#ss_myImageId").hide();
								$("#s_imageId").val("");
							}
						} else {
							alert("Please Select Connection Name");
							return;
						}
					}
				</script>
			</div>
			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Access (ssh key)</label>
							<select class="selectbox white pline sel_4" name="sshKeyId" id="ss_sshKey">
								<option value="">Select SSH Key</option>
							</select>

						</li>
						<li>
							<label><span class="ch">*</span>Access (password)</label>
							<input type="text" name="password" value="" placeholder="Input Password" class="pline ip_3"
								title="" id="ss_password" />
						</li>
					</ul>
				</div>

			</div>
			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Root Disk</label>
							<select class="selectbox white pline sel_4" name="rootDiskType" id="ss_root_disk_type"
								onchange="changeDiskSize(this.value);">
								<option value="">Select Root Disk Type</option>
							</select>
							<input type="text" name="rootDiskSize" value="" placeholder="Root Disk Size(GB)"
								class="pline ip_3" title="" id="ss_root_disk_size" />
						</li>

						<li>
							<label>DataDisk</label>
							<input type="text" name="dataDiskId" placeholder="" class="pline ip_3" title=""
								id="ss_data_disk" readonly />
							<div class="btn_right">

								<button type="button" name="" value="" class="btn_done btn_co btn_cr_g"
									onclick="displayAvailableDisk(true);"><span>Available Disk</span></button>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- button -->
		<div class="btnbox spec_select_box">
			<div class="svc_ipbox svc_ipbox_2">

				<div class="amount_add s_slider_box">
					<div class="add_box">
						<div class="a_box">
							<strong>Server Quantity</strong>
							<div class="a_slider">
								<div class="slider_ip">
									<button type="button" class="btn_s btn_s_minus">-</button>
									<div>
										<input type="text" name="" value="" placeholder="" class="slider_bar" title=""
											data-slider-min="0" data-slider-max="100" data-slider-step="1"
											data-slider-value="0" />
									</div>
									<button type="button" class="btn_s btn_s_plus">+</button>
								</div>
								<input type="text" name="ss_vm_add_cnt" value="1" class="components_input txt_ipbox"
									title="" readonly id="ss_vm_add_cnt" />
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="btnbox spec_select_box">
				<div class="btn_right">

					<button type="button" name="" value="" class="btn_done btn_co btn_cr_g"
						onclick="simpleDone_btn();"><span>DONE</span></button>
					<button type="button" name="" value="" class="btn_clear btn_co btn_cr_b">CLEAR</button>

				</div>
			</div>
		</div>
		<!-- //button -->
	</div>

</div>

<script src="/assets/js/operation/manages/mcismng/vmconfiguresimple.js"></script>
{{end}}