{{ template "Top" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "MenuLeft" .}}
		
	</div>
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}


				<!-- contents -->
				<input type="hidden" id="mcis_id" />
				<input type="hidden" id="mcis_name" />
				<input type="hidden" id="init_select_areabox" />

				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>About </div>
						<!-- <div class="location">Home  <span>></span>  About</div> -->
					</div>
					
					<div class="dashboard">
						
						<div class="d_box box_1 box_1m">
							<div class="titbox">
								<div class="tit" >
									<strong>This is Abouot Page</strong>
								</div>
								
							</div>
							
							<div class="ds_cont" id="table_1">
                                <div><strong>1. At least one namespace is required</strong></div>
                                <div><strong>2. CSP Connection is required</strong></div>
                                <div><strong>3. At least on MCIS is required</strong></div>
                            </div>
						</div>
						
						
						
					</div>

<!-- 					
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_b1">
							<div class="titbox">
								<div class="tit"></div>
								
							</div>
	
							
							<div class="ds_cont" id="table_1">
								<div><strong>1. At least one namespace is required</strong></div>
                                <div><strong>2. CSP Connection is required</strong></div>
                                <div><strong>3. At least on MCIS is required</strong></div>
							</div>
							
						</div>
						
					</div>				 -->
					
				</div>
				<!-- //contents -->


{{template "Footer" .}}