{{ template "Top" .}}

<!-- MCIS Control methods -->
<script type="text/javascript" src="/assets/js/monitoring.manage.js"></script>
<script type="text/javascript" src="/assets/js/mcis.chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<!-- MCIS Control methods -->

<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "Top_box" .}}

		{{template "LNB_popup" .}}
		
		<!-- menu -->
		<div class="leftmenu">
			
			<ul class="nav">
				<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Operation">Operation</a></li>
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Setting">Setting</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade show active" id="Operation">
					<ul class="menu">
						<li  id="Dashboard">
							<a href="javascript:void(0);">Dashboard</a>
							<ul>
								<li id="NS"><a href="/Dashboard/NS">NS</a></li>
								<li id="Global"><a href="/Dashboard/Global">Global</a></li>
							</ul>
						</li>
						<li  id="Manage">
							<a href="javascript:void(0);">Manage</a>
							<ul>
								<li  id="MCIS"><a href="/Manage/MCIS/list">MCIS</a></li>
								<li id="MC-App"><a href="!#">MC-App</a></li>
							</ul>
						</li>
						<li class="active" id="Monitoring">
							<a href="javascript:void(0);">Monitoring</a>
							<ul>
								<li class="on" id=""><a href="/Monitoring/MCIS/list">MCIS</a></li>
								<li><a href="/operation/Monitoring_McApp.html">MC-App</a></li>
							</ul>
						</li>
						<li id="Policy">
							<a href="javascript:void(0);">Policy</a>
							<ul>
								<li><a href="../operation/Policy_Monitoring.html">Monitoring</a></li>
								<li><a href="../operation/Policy_Threshold.html">Threshold</a></li>
								<li><a href="../operation/Policy_Placement.html">Placement</a></li>
							</ul>
						</li>
						<li id="About">
							<a href="javascript:void(0);">About</a>
							<ul>
								<li><a href="../operation/About.html">About</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div class="tab-pane fade" id="Setting">
					<ul class="menu">
						<li id="Resources">
							<a href="javascript:void(0);">Resources</a>
							<ul>
								<li id="net"><a href="/Vpc/list">Network</a></li>
								<li id="sg"><a href="/SecurityGroup/list">Security</a></li>
								<li id="ssh"><a href="/SSH/list">SSH key</a></li>
								<li id="image"><a href="/Image/list">(Server) Image</a></li>
								<li id="spec"><a href="/Spec/list">(Server) Spec</a></li>
							</ul>
						</li>
						<li id="AppRes">
							<a href="javascript:void(0);">App Resource</a>
							<ul>
								<li><a href="!#">(Server) Image</a></li>
								<li><a href="!#">Pod</a></li>
							</ul>
						</li>
						<li id="Cloud">
							<a href="javascript:void(0);">Cloud Connections</a>
							<ul>
								<li id="Connection"><a href="/Cloud/Connection/list">Cloud Connections</a></li>
							</ul>
						</li>
						<li id="NameSpace">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id="NS"><a href="/NameSpace/NS/list">NameSpace</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<!-- //menu -->
		
	</div>
	
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Monitoring / <strong>MCIS</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Monitoring  <span>></span>  <strong>MCIS</strong></div>
					</div>


					
					<!-- Server -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>Monitoring for MCIS</strong></div>
							</div>
							
							<div class="ds_cont">

								<div class="monitoring_ipbox">
												
									<div class="monitoring-cont">
										<div class="monitoring_ip">
											<div class="mipbox m_ip1">
									      <select class="selectbox white" id="mcisList">
									        <option value="1">Target MCIS for Monitoring</option>
									      </select>
											</div>
											<div class="mipbox m_ip2">
												<ul>
													<li class="mt_1">
														<label>Type</label>
														<span class="sbox_m2">
												      <select class="selectbox white">
												        <option value="1">Select Type(Live, History)</option>
												        <option value="2">Live</option>
												        <option value="3">History</option>
												      </select>
													  	<button name="" value="" class="btn_view">View</button> 
												    </span>
												  </li>
													<li class="mt_2" id="hidden_div">
											      <span class="sbox">
															<label>Duration</label>
															<span class="sel_w1">
																<input type="text" name="" value="" placeholder="" title="" />
													      <select class="selectbox white">
													        <option value="1">Month</option>
													        <option value="2">Day</option>
													        <option value="3">Hour</option>
													        <option value="4">Minute</option>
													      </select>
													    </span>
												    </span>
											      <span class="sbox">
															<label>Period</label>
												      <select class="selectbox white">
												        <option value="1">minutely</option>
												      </select>
												    </span>
													</li>
												</ul>
											</div>
										</div>
										
									</div>
									
								</div>

								<script>
									$(document).ready(function() {
										//Type selectbox Select Type(Live, History)
									  $('.monitoring_ip .mt_1 .selectbox').change(function(){
									    if (this.value == '2') {
									      $("#hidden_div").hide();
									    } else {
									      $("#hidden_div").show();
									    }
									  });
									});
								</script>

								
								<div class="ds_cont_mbox">
									<div class="m_title">Selected MCIS <span class="stxt">[MCIS Name (MCIS ID)]</span></div>
									
									<div class="mtbox">
										<div class="txtbox">
											<div class="icon_box">
												<div class="img"><img src="/assets/img/contents/icon_running_db.png" alt=""/></div>
												<!-- 
												<div class="img"><img src="/assets/img/contents/icon_stop_db.png" alt=""/></div>
												<div class="img"><img src="/assets/img/contents/icon_terminate_db.png" alt=""/></div>
												 -->
												<div class="txt color_b">Running</div>
											</div>
										</div>
										
										<div class="g_list">
											
											<div class="gbox">
												<div class="sel">
													<label>CPUs</label>
										      <select class="selectbox white" id="cpu">
										        <option value="1">Select CPU Item</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_0"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_1.jpg" alt=""> -->
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>Memory</label>
										      <select class="selectbox white" id="memory">
										        <option value="1">Select Memory Item</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_1"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_2.jpg" alt=""> -->
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>DiskIO</label>
										      <select class="selectbox white" id="disk">
										        <option value="1">Select DiskIO Item</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_2"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_3.jpg" alt=""> -->
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>Network</label>
										      <select class="selectbox white" id="network">
										        <option value="1">Select Network Item</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_3"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_4.jpg" alt=""> -->
												</div>
											</div>
											
										</div>
									</div>
									<script>
										$(document).ready(function() {
											resizeContent();
										});
										$(window).resize(function() {
											resizeContent();
										});
										//Selected MCIS selectbox(CPUs,Memory,DiskIO,Network) width 반응형 적용
										function resizeContent() {
											$(".g_list .gbox .sel").each(function(){
												var $list =  $(this),
														$label =  $list.find('label'),
														$labelWidth = $label.width(),
														$gboxWidth = $list.width(),
														$selectbox =  $list.find('.selectbox');
												$list.each(function(){
													$selectbox.css({'width':($gboxWidth-$labelWidth-20)+'px'});
												});
											});
										}
									</script>
									
									<div class="mtbox">
										<div class="txtbox">
											<div class="tit">Server List</div>
										</div>
										
										<div class="g_list">
											<!-- Server List scrollbar / common.js -->
											<div class="listbox scrollbar-inner">
												<ul>
													<li class="sel_cr bgbox_g"><a href="javascript:void(0);"><span class="txt">Server 1</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 2</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">Server 3</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 4</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 5</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 6</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">Server 7</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 8</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 9</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 10</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 11</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 12</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">Server 13</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">Server 14</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 15</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 16</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">Server 17</span></a></li>
													<li><span class="txt">Server 18</span></li>
													<li><span class="txt">Server 19</span></li>
													<li><span class="txt">Server 20</span></li>
												</ul>
											</div>
											<!-- //Server List scrollbar -->
										</div>
									</div>
								</div>
						
								
								<!-- Monitoring view -->
								<div class="ds_cont_mbox g_detail_view monitoring_view" id="monitoring_viewbox">
									
									<div class="view_ipbox">
													
										<div class="view-cont">
											<div class="view_ip">
												
												<div class="mvbox v_ip1">
													<label>Monitoring Details</label>
										      <select class="selectbox white">
										        <option value="1">Target Servers for Monitoring</option>
										        <option value="2">Target Servers for Monitoring 2</option>
										      </select>
												</div>
												<div class="mvbox v_ip2">
													<ul>
														<li class="mt_1">
															<label>Type</label>
															<span class="sbox_m2">
													      <select class="selectbox white">
													        <option value="1">Select Type(Live, History)</option>
													        <option value="2">Live</option>
													        <option value="3">History</option>
													      </select>
														  	<button name="" value="" class="btn_view">View</button> 
													    </span>
													  </li>
														<li class="mt_2" id="m_hidden_div">
												      <span class="sbox">
																<label>Duration</label>
																<span class="sel_w1">
																	<input type="text" name="" value="" placeholder="" title="" />
														      <select class="selectbox white">
														        <option value="1">Month</option>
														        <option value="2">Day</option>
														        <option value="3">Hour</option>
														        <option value="4">Minute</option>
														      </select>
														    </span>
													    </span>
												      <span class="sbox">
																<label>Period</label>
													      <select class="selectbox white">
													        <option value="1">minutely</option>
													      </select>
													    </span>
														</li>
													</ul>
													
												</div>
												<!--
												<ul>
													<li class="m1">
														<label>Monitoring Details</label>
											      <select class="selectbox white">
											        <option value="1">Target Servers for Monitoring</option>
											        <option value="2">Target Servers for Monitoring 2</option>
											      </select>
													</li>
													<li class="m2">
														<label>Type</label>
											      <select class="selectbox white">
											        <option value="1">Select Type(Live, Hist)</option>
											      </select>
													</li>
													<li class="m3">
											      <span class="sbox">
															<label>Duration</label>
															<span class="sel_w1">
																<input type="text" name="" value="" placeholder="" title="" />
													      <select class="selectbox white">
													        <option value="1">minute</option>
													      </select>
													    </span>
												    </span>
											      <span class="sbox">
															<label>Period</label>
												      <select class="selectbox white">
												        <option value="1">minutely</option>
												      </select>
												    </span>
													</li>
												</ul>
												-->
											</div>
											
											<div class="view_ip">
												<ul>
													<li class="m4">
														<label>Servers</label>
														<input type="text" name="" value="" placeholder="" title="" />
													</li>
													<li class="m5 m5_n">
														<label>Items</label>
											      <select class="selectbox white">
											        <option value="1">Select Region</option>
											        <option value="2">Select Region2</option>
											        <option value="3">Select Region3</option>
											        <option value="4">Select Region4</option>
											      </select>
													</li>
												</ul>
											</div>
										</div>
								
										<script>
											$(document).ready(function() {
												//Type selectbox Select Type(Live, History)
											  $('.view_ipbox .mt_1 .selectbox').change(function(){
											    if (this.value == '2') {
											      $("#m_hidden_div").hide();
											    } else {
											      $("#m_hidden_div").show();
											    }
											  });
											});
										</script>
										
										<div class="graphbox">
											<img src="/assets/img/contents/img_graphbox_1.jpg" alt="">
										</div>
										
									</div>
								</div>
								<!-- //Monitoring view -->
							
								
							</div>
							
						</div>
						
					</div>
					<!-- //Server -->
					

				</div>
                <!-- //contents -->
<script>
	$(document).ready(function(){
        checkNS();
		var nsid = "{{ .NameSpace}}";
        var url = CommonURL+"/ns/"+nsid+"/mcis?option=status";
		console.log("ready Monitoring Mcis, url :",url);
		console.log("ready Monitoring Mcis, nsid :",nsid);
		getMcisList(nsid);
        // show_mcis(url);

	})

function getMcisList(nsid){
    var url = "{{ .comURL.TumbleBugURL}}"+"/ns/"+nsid+"/mcis?option=status";
	console.log("start getMcisList, url :",url);
	var apiInfo = "{{ .apiInfo}}";
	// var apiInfo = ApiInfo;
	console.log("apiInfo :",apiInfo);
    axios.get(url,{
        headers:{
            'Authorization': apiInfo,
            'Content-Type' : "application/json"
        }
    }).then(result=>{
        console.log("get Mcis List Data : ",result.data);
        var data = result.data.mcis;
        var html = ""

		if(data.length){
			var count = 0;

			for(var i in data){
				var sta = data[i].status;
				var badge = "";
				var status = sta.toLowerCase()
				var vms = data[i].vm
				var vm_len = 0
			
				if(vms){
					vm_len = vms.length
				}
				
				console.log("mcis Status 1: ", data[i].status)
           		console.log("mcis Status 2: ", status)

				if(status == "running"){
					badge += '<span class="badge badge-pill badge-success">RUNNING</span>'
				}else if(status == "include-notdefinedstatus" ){
					badge += '<span class="badge badge-pill badge-warning">WARNING</span>'
				}else if(status == "suspended"){
					badge += '<span class="badge badge-pill badge-warning">SUSPEND</span>'
				}else if(status == "terminate"){
					badge += '<span class="badge badge-pill badge-dark">TERMINATED</span>'
				}else{
					badge += '<span class="badge badge-pill badge-warning">'+status+'</span>'
				}
				count++;
				if(count == 1){

				}
				// <option value="1">Target MCIS for Monitoring</option>
				
				html += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
			}
			
            $("#mcisList").empty();
            $("#mcisList").append(html);
		  //  nsModal()
		  ModalDetail()
           
    }}
)}

function showMonitoring(mcis_id, vm_id){
	$("#cpu").empty()
	$("#memory").empty()
	$("#disk").empty()
	$("#network").empty()
	var arr = ["cpu","memory","disk","network"];
	var periodType = "m";
	var duration = "10m";
	var statisticsCriteria = "last";
		
	for (var i in arr){
		var chart_target = "canvas_"+i;
		getMetric(chart_target,arr[i],mcis_id,vm_id,arr[i],periodType,statisticsCriteria,duration);
	}
}
function getMetric(chart_target,target, mcis_id, vm_id, metric, periodType,statisticsCriteria, duration){
	console.log("====== Start GetMetric ====== ")
	var color = "";
	var metric_size ="";
	var ctx = document.getElementById(chart_target).getContext('2d')
	var chart = new Chart(ctx,{
		type:"line",
		data:{},
		options:{
			responsive: true,
			title: {
				display: true,
				text: target
			},
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Time'
					}
				},
				y: {
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				}
			}
		}
	});
	
	var nsid = "{{ .NameSpace}}";
	var url = DragonFlyURL+"/ns/"+nsid+"/mcis/"+mcis_id+"/vm/"+vm_id+"/metric/"+metric+"/info?periodType="+periodType+"&statisticsCriteria="+statisticsCriteria+"&duration="+duration;
	console.log("Request URL : ",url)
	var html = "";
	$.ajax({
		url: url,
		async:false,
		type:'GET',
		success : function(result){
			var data = result
			console.log("Get Monitoring Data : ",data)
			console.log("======== start mapping data ======");
			var time_obj = time_arr(data,target);
			console.log("chart_target :",chart_target);
			
			// var myChart = new Chart(ctx, time_obj);
			chart.data = time_obj;
			chart.update();

		},
		error : function(request,status, error){
			console.log(request.status, request.responseText,error)
		}
		
	})
}

</script>
{{template "Footer" .}}