{{ template "Top" .}}

<div id="lnb">

	<div class="bg"></div>

	<div class="m_box">

		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		<!-- menu -->
		{{template "MenuLeft" .}}
		<!-- //menu -->
	</div>

	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>

</div>

{{template "Header" .}}

{{template "Modal" .}}

<!-- contents -->
<div class="contbox">

	<div class="titlebox">
		<div class="tit"><img src="/assets/img/common/icon_cont.png" alt="" />Resources / <strong>Disk</strong></div>
		<div class="location">Home <span>></span> Setting <span>></span> Resources <span>></span>
			<strong>Disk</strong></div>
	</div>

	<!-- list -->
	<div class="dashboard dashboard_cont">

		<div class="d_box box_m box_w100">
			<div class="titbox">
				<div class="tit initial"><strong>Disk</strong></div>
				<div class="top_info">
					<ul>
						<li>
							<a href="javascript:void(0);">Filter</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('RsFltVPCName', 'vpcListTable')">VPC Name</a>
										</li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('RsFltCIDRBlock', 'vpcListTable')">CIDR
												Block</a></li>
										<li class="divider"></li>
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox"
												onClick="getVpcList()">Clear</a></li>

									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Sort</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="tableSort('dataDiskListTable', 'VPC Name')">VPC Name</a></li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('dataDiskListTable', 'CIDR Block')">CIDR Block</a></li>
										<!--
														<li><a href="javascript:void(0);" onclick="getVpcList('name')">VPC Name</a></li>
														<li><a href="javascript:void(0);" onclick="getVpcList('cidrBlock')">CIDR Block</a></li>
														-->
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Action</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox"
												onClick="displayDataDiskInfo('REG')">Add</a></li>
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist"
												onClick="commonConfirmOpen('DeleteDataDisk')">Delete</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt="" /></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="ds_cont">

				<div class="dataTable status_list" id="dataDiskListTable">
					<table cellpadding="0" cellspacing="0" border="1" summary="" id="dataDiskListTable">

						<thead>
							<tr>
								<th class="column-50px"><input type="checkbox" name="" value="" id="th_chall"
										title="" /><label for="th_chall"></label></td>
								<th>VPC Name</th>
								<th>CIDR Block</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody id="dataDiskList">							
						</tbody>
					</table>
				</div>

			</div>

		</div>

	</div>
	<!-- //list -->


	<!-- Modify -->
	<div class="dashboard dashboard_cont server_status" id="dataDiskInfoBox">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial"><strong>Network Info</strong> [ <span class="stxt" id="dataDiskName"></span>
					] </div>
			</div>

			<div class="ds_cont">
				<div class="register_box">

					<div class="top_ipbox">
						<div class="ipbox ipbox1">
							<ul>
								<li>
									<label>VPC Name</label>
									<span class="sbox">
										<input type="text" id="dtlVpcName" name="dtlVpcName" value="" placeholder=""
											class="gray" title="" disabled />
									</span>
								</li>
								<li>
									<label>Description</label>
									<span class="sbox">
										<textarea id="dtlDescription" name="dtlDescription" cols="" rows=""
											placeholder="" class="gray" title="" disabled></textarea>
									</span>
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox2">
							<ul>
								<li>
									<label>Cloud Provider</label>
									<input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder=""
										class="gray" title="" readonly />
									<!-- <select class="selectbox w1 ">
														<option value="1">Selected Provider</option>
														<option value="2" disabled>Selected disabled</option>
													</select>
													<select class="selectbox w2">
														<option value="1">Selected Region</option>
													</select> -->

								</li>
								<li>
									<label>Connection Name</label>
									<input type="text" id="dtlConnectionName" name="dtlConnectionName" value=""
										placeholder="" class="gray" title="" readonly />
								</li>
								<li>
									<label>CidrBlock</label>
									<input type="text" id="dtlCidrBlock" name="dtlCidrBlock" value="" placeholder=""
										class="gray" title="" readonly />
								</li>
								<li>
									<label>Subnet</label>
									<span class="sbox">
										<input type="text" id="dtlSubnet" name="dtlSubnet" value="" placeholder=""
											class="gray" title="" readonly />
										<button name="" value="" class="btn_edit btn_register">Edit</button>
										<!-- subnet 추가버튼-->
									</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- TODO : tumblebug에 수정 기능 없음. 수정기능 생기면 처리
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_modify">Modify</button> 
										</div>
									</div>
								 -->
				</div>
			</div>

		</div>

	</div>
	<!-- //Modify -->

	<!-- Register DataDisk -->
	<div class="dashboard dashboard_cont register_cont" id="dataDiskCreateBox">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial cg"><strong>Create Disk</strong></div>
			</div>

			<div class="ds_cont">
				<div class="register_box reg">

					<div class="top_ipbox">
						<div class="ipbox ipbox1 ipbox3">
							<ul>
								<li>
									<label><span class="ch">*</span>Disk Name</label>
									<input type="text" id="regDataDiskName" name="reg_dataDiskName" value=""
										placeholder="Input Disk Name" class="pline" title="" />
								</li>
								<li>
									<label><span class="ch">*</span>Disk Size</label>
									<input type="text" id="regDataDiskSize" name="reg_dataDiskSize" value=""
										placeholder="Input Disk Size" class="pline" title="" />
								</li>
								<li>
									<label><span class="ch">*</span>Disk Type</label>
									<input type="text" id="regDataDiskType" name="reg_dataDiskType" value=""
										placeholder="Input Disk Type" class="pline" title="" />
								</li>
								<li class="ta_1">
									<label>Description</label>
									<textarea id="regDescription" name="reg_description" cols="" rows=""
										placeholder="Description" class="pline" title=""></textarea>
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox2 ipbox4">
							<ul>
								<li>
									<label>Cloud Provider</label>
									<select class="selectbox white pline w3" id="provider" name="ProvideName"
										onchange="getConnectionListForSelectbox(this.value, 'regConnectionName')">
										<option selected>Select Cloud Provider</option>										
										{{ range $item := .CloudOSList}}
										<option value="{{ $item }}">{{ $item }}</option>
										{{ end }}
									</select>
								</li>
								<li>
									<label><span class="ch">*</span>Connection</label>
									<select class="selectbox white pline w3" id="regConnectionName"
										name="reg_connectionName">
										<option selected>Selected ConnectionName</option>
									</select>
								</li>								
							</ul>
						</div>
					</div>

					<div class="btnbox">
						<div class="btn_center">
							<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
								onclick="displayDataDiskInfo('CLOSE')">Cancel</button>
							<button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
								onclick="createDataDisk()">Ok</button>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- //Register DataDisk -->

</div>
<!-- //contents -->
<script src="/assets/js/setting/resources/datadiskmng.js"></script>
{{template "Footer" .}}