{{ template "OperationTop" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}
		
	</div>
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

				<!-- contents -->
				<input type="hidden" id="pmks_cluster_id" value="{{ .ClusterID }}"/>
				<input type="hidden" id="pmks_cluster_name" value=""/>
				<input type="hidden" id="pmks_cluster_version" value=""/>
				<input type="hidden" id="pmks_cluster_connection" value="{{ .ConnectionName }}"/>
				
				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Manage / <strong>PMKS</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Manage  <span>></span>  <strong>PMKS</strong></div>
					</div>
					
					<!-- Info -->
					{{template "ClusterInfo" .}}
					<!-- //Info -->
				
					{{template "NodeGroupCreate" .}}
					
				</div>
				<!-- //contents -->
				
				

<script type="text/javascript" src="/assets/js/operation/manages/pmksmng/pmksnodegroupcreate.js"></script>

{{template "Footer" .}}