{{ template "Top" .}}
{{template "LNB" .}}
{{template "Header" .}}
{{template "Modal" .}}
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="../img/common/icon_cont.png" alt=""/><strong>Cloud Connections</strong></div>
						<div class="location">Home  <span>></span>  Setting  <span>></span>  <strong>Cloud Connections</strong></div>
					</div>


					
					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>Server SSH key</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Provider</a></li>
														<li><a href="javascript:void(0);">Driver</a></li>
														<li><a href="javascript:void(0);">FileName</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Provider</a></li>
														<li><a href="javascript:void(0);">Driver</a></li>
														<li><a href="javascript:void(0);">FileName</a></li>
														<li><a href="javascript:void(0);">Date</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox">Add</a></li>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist">Delete</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="../img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
	
							<!-- popup Regist -->
							<div class="modal fade layerpopup" id="RegistBox" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to register <br />Cloud Connection?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok register" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Regist -->
							
							<script>
								$(document).ready(function(){
									$('#RegistBox .btn_ok.register').click(function(){
										$(".dashboard.register_cont").toggleClass("active");
										$(".dashboard.server_status").removeClass("view");
										$(".dashboard .status_list tbody tr").removeClass("on");
									});
								});
							</script>
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup>
											<col width="50px"><col width="16%"><col width="14%"><col width="15%"><col width="15%"><col width="15%"><col width=""><col width="60px">
										</colgroup>
										<thead>
											<tr>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
												<th>Name</th>
												<th>Cloud Provider</th>
												<th>Region</th>
												<th>Zone</th>
												<th>Credential</th>
												<th>Driver</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch1" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm td_left" data-th="Name">aws-config01<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a> <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Cloud Provider">AWS</td>
												<td class="overlay hidden" data-th="Region">aws-region01 </td>
												<td class="overlay hidden" data-th="Zone">-</td>
												<td class="overlay hidden" data-th="Credential">aws-credential01</td>
												<td class="overlay hidden" data-th="Driver">aws-driver01</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch2" title="" /><label for="td_ch2"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm td_left" data-th="Name">aws-config02<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a> <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Cloud Provider">AWS</td>
												<td class="overlay hidden" data-th="Region">aws-region02 </td>
												<td class="overlay hidden" data-th="Zone">-</td>
												<td class="overlay hidden" data-th="Credential">aws-credential02</td>
												<td class="overlay hidden" data-th="Driver">aws-driver01</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch3" title="" /><label for="td_ch3"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm td_left" data-th="Name">azure-config01<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a> <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Cloud Provider">AZURE</td>
												<td class="overlay hidden" data-th="Region">azure-region01 </td>
												<td class="overlay hidden" data-th="Zone">-</td>
												<td class="overlay hidden" data-th="Credential">azure-credential01</td>
												<td class="overlay hidden" data-th="Driver">azure-driver01</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch4" title="" /><label for="td_ch4"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm td_left" data-th="Name">gcp-config01<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a> <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Cloud Provider">GCP</td>
												<td class="overlay hidden" data-th="Region">gcp-region01 </td>
												<td class="overlay hidden" data-th="Zone">-</td>
												<td class="overlay hidden" data-th="Credential">gcp-credential01</td>
												<td class="overlay hidden" data-th="Driver">gcp-driver01</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									$(document).ready(function(){
								    $("#th_chall").click(function() {
								      if ($("#th_chall").prop("checked")) {
								        $("input[name=chk]").prop("checked", true);
								      } else {
								        $("input[name=chk]").prop("checked", false);
								      }
								    })
										
										$(window).on("load resize",function(){
											var vpwidth = $(window).width();
										  if (vpwidth > 768 && vpwidth < 1800) {
										    $(".dashboard_cont .dataTable").addClass("scrollbar-inner");
										 		$(".dataTable.scrollbar-inner").scrollbar();
										  } else {
										    $(".dashboard_cont .dataTable").removeClass("scrollbar-inner");
										  }
										});
									});
								</script>
								
								
								<div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div>
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
					
					<!-- Modify -->
					<div class="dashboard dashboard_cont server_status">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Cloud Connection Config Info</strong> <span class="stxt"></span></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox7">
											<ul>
												<li class="reg_1 reg_1n">
													<label>Cloud Connection Name</label>
													<input type="text" name="" value="name" placeholder="" class="gray" title="" readonly />
												</li>
												<li class="reg_1 reg_1n">
													<label>Credential</label>
													<input type="text" name="" value="Credential selected Credential" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_3">
													<label>Provider (CP)</label>
													<input type="text" name="" value="AWS, AZURE, GCP, ALIBABA / Region" placeholder="" class="gray" title="" readonly />
												</li>
												<li class="reg_3">
													<label>Region</label>
													<input type="text" name="" value="" placeholder="" class="gray" title="" readonly />
												</li>
												<li class="reg_3">
													<label>Driver</label>
													<input type="text" name="" value="" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
									</div>
									
									<div class="graybox">
										
										<div class="g_box">
											
											<div class="logicbox">
												
												<div class="txtbox">
													
													<div class="logic_tbox lg_1">
														<div class="tit">Cloud Connection</div>
														<div class="txt">
															Connection<br /> Name
														</div>
													</div>
													
													<div class="line line_a line_p1"></div>
													
													<div class="logic_tbox lg_2">
														<div class="tit">Cloud Provider</div>
														<div class="txt">
															Provider(CP)<br />Name & Icon
														</div>
													</div>
													
													<div class="line line_p2"></div>
													<div class="line line_a line_p2_1"></div>
													
													<div class="logic_tbox lg_3">
														<div class="tit">Cloud Region</div>
														<div class="txt">
															Region<br />Name
														</div>
													</div>
													
													<div class="line line_p3"></div>
													<div class="line line_a line_p3_1"></div>
													
													<div class="logic_tbox lg_4">
														<div class="tit">Cloud Driver</div>
														<div class="txt">
															Driver<br />Name
														</div>
													</div>
													
													<div class="line line_p4"></div>
													<div class="line line_a line_p4_1"></div>
													
													<div class="logic_tbox lg_5">
														<div class="tit">Cloud Credential</div>
														<div class="txt">
															Credential<br />Name
														</div>
													</div>
													
													
												</div>
												
												<div class="mapcont">
													<div class="map"><a href="javascript:void(0);"><img src="../img/contents/img_map_d.jpg" alt=""/></a></div>
												</div>
											</div>
											
											
										</div>
										
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Modify -->
					
					
					<!-- Register Cloud Connection -->
					<div class="dashboard dashboard_cont register_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial cg"><strong>Create Cloud Connection Config</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box reg">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1">
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_3">
													<label><span class="ch">*</span>Provider(CP/Region)</label>
													<input type="text" name="" value="" placeholder="AWS, AZURE, GCP, ALIBABA / Region" class="pline" title="" />
												</li>
											</ul>
										</div>
									</div>
									
									<div class="iptable_box">
										<div class="table_plist">
											<div class="tit"><span class="ch">*</span>Region</div>
											<div class="btn_s">
												<button class="btn_write" value="" name="" data-toggle="modal" data-target="#Add_Region">write</button>
												<!-- <button class="btn_add" value="" name="">add</button> -->
											</div>
											<div class="dataTable first_over">
												<table cellpadding="0" cellspacing="0" border="1" summary="">
													<colgroup>
														<col width="38%"><col width="38%"><col width="">
													</colgroup>
													<thead>
														<tr>
															<th>Name</th>
															<th>ID</th>
															<th>CP</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-region01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="ID">ap-northeast-1</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-region02 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="ID">ap-northeast-2</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">azure-region01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="ID">ap-north-1</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">gcp-region01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="ID">ap-east-1</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										
										<div class="table_plist">
											<div class="tit"><span class="ch">*</span>Credential</div>
											<div class="btn_s">
												<button class="btn_write" value="" name="" data-toggle="modal" data-target="#Add_Credential">write</button>
												<!-- <button class="btn_add" value="" name="">add</button> -->
											</div>
											<div class="dataTable first_over">
												<table cellpadding="0" cellspacing="0" border="1" summary="">
													<colgroup>
														<col width="38%"><col width="38%"><col width="">
													</colgroup>
													<thead>
														<tr>
															<th>Name</th>
															<th>accesskey</th>
															<th>CP</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-credential01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">aws-accesskey-01</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-credential02 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">aws-accesskey-02</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">azure-credential01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">azure-accesskey-01</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">gcp-credential01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">gcp-accesskey-01</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										
										<div class="table_plist">
											<div class="tit"><span class="ch">*</span>Driver</div>
											<div class="btn_s">
												<button class="btn_write" value="" name="" data-toggle="modal" data-target="#Add_Driver">write</button>
												<!-- <button class="btn_add" value="" name="">add</button> -->
											</div>
											<div class="dataTable first_over">
												<table cellpadding="0" cellspacing="0" border="1" summary="">
													<colgroup>
														<col width="38%"><col width="38%"><col width="">
													</colgroup>
													<thead>
														<tr>
															<th>Name</th>
															<th>Driver SDK</th>
															<th>CP</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-driver01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="Driver SDK">aws-driver-v1.0.so</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">azure-driver01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="Driver SDK">azure-driver-v1.0.so</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">gcp-driver01  <span class="ov"></span></td>
															<td class="overlay hidden" data-th="Driver SDK">gcp-driver-v1.0.so</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox5">
											<ul>
												<li class="reg_1 reg_1n"></li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox6">
											<ul>
												<li class="reg_3">
													<label><span class="ch">*</span>Cloud Connection Name</label>
													<input type="text" name="" value="name" placeholder="" class="pline" title="" />
												</li>
											</ul>
										</div>
									</div>
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok">Ok</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Register Cloud Connection -->
											
					<script>
						$(function() {
						  return $(".modal").on("show.bs.modal", function() {
						    var curModal;
						    curModal = this;
						    $(".modal").each(function() {
						      if (this !== curModal) {
						        $(this).modal("hide");
						      }
						    });
						  });
						});		
					</script>
	
					<!-- popup add Region -->
					<div class="modal fade layerpopup" id="Add_Region" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">Would you like to register <br />Add Region?</div>
									<div class="btnbox">
										<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn_ok btn_add" data-toggle="modal" data-target="#Add_Region_Register">OK</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- //popup add Region -->
	
					<!-- popup add Region register -->					
					<div class="modal fade register_add" id="Add_Region_Register" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">Add Region</div>
										</div>
										
										<div class="pop-cont">
											
											<div class="pop_ipbox">
												<ul>
													<li class="p_ip1">
														<label>Provider (CP)</label>
														<input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Name</label>
														<input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>ID</label>
														<select class="selectbox white pline w_ip1">
															<option value="1">Selected Region</option>
														</select>
													</li>
												</ul>
											</div>
						
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_co btn_cr_g"><span>OK</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
													
					</div>
					<!-- //popup add Region register -->
					
	
					<!-- popup add Credential -->
					<div class="modal fade layerpopup" id="Add_Credential" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">Would you like to register <br />Add Credential?</div>
									<div class="btnbox">
										<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn_ok btn_add" data-toggle="modal" data-target="#Add_Credential_Register">OK</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- //popup add Credential -->
	
					<!-- popup add Credential register -->					
					<div class="modal fade register_add" id="Add_Credential_Register" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">Add Credential</div>
										</div>
										
										<div class="pop-cont">
											
											<div class="pop_ipbox">
												<ul>
													<li class="p_ip1">
														<label>Provider (CP)</label>
														<input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Name</label>
														<input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>AccessKey</label>
														<select class="selectbox white pline w_ip1">
															<option value="1">Selected AccessKey</option>
														</select>
													</li>
												</ul>
											</div>
						
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_co btn_cr_g"><span>OK</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
													
					</div>
					<!-- //popup add Credential register -->
	
					<!-- popup add Driver -->
					<div class="modal fade layerpopup" id="Add_Driver" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">Would you like to register <br />Add Driver?</div>
									<div class="btnbox">
										<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn_ok btn_add" data-toggle="modal" data-target="#Add_Driver_Register">OK</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- //popup add Driver -->
	
					<!-- popup add Driver register -->					
					<div class="modal fade register_add" id="Add_Driver_Register" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">Add Driver</div>
										</div>
										
										<div class="pop-cont">
											
											<div class="pop_ipbox">
												<ul>
													<li class="p_ip1">
														<label>Provider (CP)</label>
														<input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Name</label>
														<input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Driver</label>
														<select class="selectbox white pline w_ip1">
															<option value="1">Selected Driver</option>
														</select>
													</li>
												</ul>
											</div>
						
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_co btn_cr_g"><span>OK</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
													
					</div>
					<!-- //popup add Driver register -->

				</div>
				<!-- //contents -->

				{{template "Footer" .}}