{{ template "Top" .}}
	
		<div id="lnb">
			
			<div class="bg"></div>
				
			<div class="m_box">
				
				{{template "TopBox" .}}

			</div>
			
			<div class="bottom"></div>
			<a href="javascript:;" id="m_close"></a>
			
		</div>
			
		{{template "Header" .}}
	
		{{template "Modal" .}}
				
				<!-- contents -->
				<div class="contbox" id="popNameSpace">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Main</strong></div>
						<div class="location">Home  <span>></span> <strong>Main</strong></div>
					</div>
 
                    <div>&nbsp;</div>
                    
					<!-- list -->
					<div class="modal-content">
						<div class="popbox">
							<div class="titlebox">
                                    <div>&nbsp;</div>
                                    <div class="tit">&nbsp;<span>Main</span> 화면</div>
                            </div>
                            
                            <div class="ds_cont">
                               
                            </div>                            
                        
                        </div>                    
                    
					</div>
					<!-- //list -->
					
					

				</div>
				<!-- //contents -->
<script >


$(document).ready(function () {
  
});                   

</script>
{{template "Footer" .}}
