{{define "Header"}}
<div id="contents">
			
	<!-- container -->
	<div id="container">

	<!-- header -->
	<div class="header">
			<div class="logo"><img src="/assets/img/common/img_logo.png" alt="Cloud Barista"/></div>
			
			<a href="javascript:;" id="btn_menu"><span></span></a>
			<input type="hidden" id="returnMessage" value='{{ .Message }}'/>
			<input type="hidden" id="returnStatusCode" value='{{ .Status }}'/>
				
			<div class="topmenu">
				<ul>
					<li class="logout">
						<a href="javascript:void(0);" data-toggle="modal" data-target="#logout" onClick="commonConfirmOpen('Logout')">
							<img src="/assets/img/common/icon_logout.png" alt=""/> Logout</a>
					</li>
					<!-- <li class="add">
						<img src="/assets/img/common/icon_add.png" alt=""/>
						<div class="infobox">
							<div class="box box_txt">See you in the next release !</div>
						</div>
					</li> -->
					<li class="notice">
						<img src="/assets/img/common/icon_notice.png" alt=""/>
						<div class="infobox">
							<div class="box box_txt">See you in the next release !</div>
						</div>
					</li>
					<!-- <li class="email">
						<img src="/assets/img/common/icon_email.png" alt=""/><span>7</span>
						<div class="infobox">
							<div class="box box_txt">See you in the next release !</div>
						</div>
					</li> -->
					<li class="setting">
						<a href="javascript:void(0);"><img src="/assets/img/common/icon_setting.png" alt=""/></a>
						<div class="infobox">
							<div class="box">
								<p>Cloud Setting</p>
								<ul>
									<li><a href="javascript:void(0);" data-toggle="modal" data-target="#Connection" onClick="commonConfirmOpen('MoveToConnection')">[Cloud] Connection</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="question">
						<a href="javascript:void(0);" onclick="showHelp()">
							<img src="/assets/img/common/icon_question.png" alt="Api call test"/>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
		<!-- //header -->

		<!-- Loading bar -->
		<div class="loading-container" id="loadingContainer" tabindex="-1" style="display:none">
			<div class="loading"></div>
			<div id="loading-text" >loading</div>
		</div>
		<!-- // Loading bar -->

		<script>
			var lastCallTime;// 호출하면 호출시간을 return하여 해당시간 이후Data만 가져오도록
			var loc = window.location;
			var uri = 'ws:';
			var ws;
			if (loc.protocol === 'https:') {
			uri = 'wss:';
			}
			uri += '//' + loc.host;
			uri += '/ws/websocketdata';// Gorilla websocket
			
			ws = new WebSocket(uri)

			// websocket open
			ws.onopen = (event) => {
				console.log('Connected')
				let sendData = {event: 'open'}
				// 현재날짜 -2시간 이후의 data만 가져온다.
				ws.send(JSON.stringify(sendData));
				console.log(event);
			}

			// websocket req : 
			var interval = setInterval(function() {
				getWebsocketData()
        	}, 30000);// 30초마다
			

			// websocket message response
			ws.onmessage = (event) => {
				console.log(event.data);
				let recData = JSON.parse(event.data);
				console.log("recData.event= " + recData.event)
				console.log(recData)
				switch (recData.event) {
					case 'res':
						var out = document.getElementById('output');
						var jsonStr = JSON.stringify(recData);
						lastCallTime = recData.callTime;
						//out.innerHTML += jsonStr + '<br> by res';
						console.log(recData);
						break;
					default:
						var out = document.getElementById('output');
						out.innerHTML += recData;
						console.log(recData);
						break
				}
			}

			// websocket close : page 이동, 브라우저가 닫히는 경우 close로 해당 websocket를 닫아준다.
			window.addEventListener('beforeunload', function (e) {
				let sendData = {event: 'close'}
				ws.send(JSON.stringify(sendData));
				console.log("beforeunload")
				console.log(sendData)
			});
			ws.onclose = function () {
				console.log('Closed');
			}

			// 웹소켓 data 조회 
			function getWebsocketData() {      
				let sendData = {event: 'req', callTime: '' + lastCallTime};
				// sequence 를 받아 최종 sequence 보다 큰 것들만 가져온다.
				ws.send(JSON.stringify(sendData));        
			}

			// 반복 중단
			function stopInterval(){
				clearInterval(interval)
			}
		</script>
{{end}}