{{define "LNBPopup"}}
    <!-- namespace 변경 -->
            <!-- popup NameSpace -->
            <div class="modal fade layerpopup" id="NameSpace" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">                        
                        <div class="modal-body">
                            <div class="txt">Would you like to move <br />selected NameSpace?</div>
                            <div class="btnbox">
                                <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn_ok" data-dismiss="modal" onclick="changeNamespace()">OK</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- //popup NameSpace -->

            <!-- popup NewNameSpace -->
            <div class="modal fade layerpopup" id="NewNS" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                            <div class="txt">Would you like to new Name Space?</div>
                            <div class="btnbox">
                                <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn_ok" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- //popup New NameSpace -->

            <!-- popup Manage NameSpace -->
            <div class="modal fade layerpopup" id="ManageNS" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                            <div class="txt"> Would you like to manage <br />Name Space?</div>
                            <div class="btnbox">
                                <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn_ok" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- //popup Manage NameSpace -->
            
    <script>
    // server side에서 이미 가져옴. 
    // function getNameSspaceList(){

    //     var nsListUrl = "/NameSpaceList"// 전체 namespace 목록 조회
    //     // $("#defaultNamespace").text(NAMESPACE);//TopBox 에 defaultnamespace이름 표시
    //     axios.get(nsListUrl,{
    //             }).then(result=>{
    //                 var data = result.data
    //                 console.log(data);
    //                 var res = data.ns;
    //                 //    if (!res){
    //                 //     alert("NameSpace가 등록되어 있지 않습니다.\n등록페이지로 이동합니다.1")
    //                 //     location.href ="/NS/reg";
    //                 //     return;
    //                 //    }
    //                 var html = "";
    //                 var ns = "";
    //                 if(NAMESPACE){
    //                     for(var i in res){
    //                         if(res[i].name){
    //                             if(NAMESPACE == res[i].name){
    //                             }else{
    //                                // html += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
    //                                 html +='<li><a href="javascript:void(0);" onclick="select_namespace(\''+res[i].id+'\')" data-toggle="modal" data-target="#NameSpace">'+res[i].name+'</a></li>'
    //                             }   
    //                         }             
    //                     }
    //                 }else{
    //                     if(res){
    //                         if(res[0].id){
    //                             for(var i in res){
    //                                 if(i == 0){
    //                                         html += '<option value="'+res[i].id+'" selected>'+res[i].name+'</option>';
    //                                         ns = res[i].id;
    //                                 }else{
    //                                     html += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
    //                                 }
    //                             }
       
    //                         }else{
    //                             for(var i in res){
    //                                 if(i == 1){
    //                                         html += '<option value="'+res[i].id+'" selected>'+res[i].name+'</option>';
    //                                         ns = res[i].id;
    //                                     }else if(i >1){
    //                                         html += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
    //                                     }   
    //                                 }
    //                             }
    //                         }
        
    //                      }
       
    //                     $("#name_select").empty();
    //                     $("#name_select").append(html);

    //                     if(ns){
    //                         reqUrl = "/SET/NS/"+ns
    //                         console.log(reqUrl);
    //                         axios.get(reqUrl,{
    //                             headers:{
    //                                 'Authorization': apiInfo
    //                             }
    //                         }).then(result=>{
    //                         var data = result.data
    //                         console.log(data);
    //                         })

    //                     }

    //             })
    //         }

    function changeNamespace(){
        var selectdNamespace = $("#select_namespace").val();
        console.log("select Namespace : ",selectdNamespace)
        if(selectdNamespace){
            setNameSpace(selectdNamespace);              
        }else{
            alert("Select Namespace!!")
            return;
        }
    }

    function setNameSpace(nsid){
        var apiInfo = ApiInfo
        if(nsid){
            reqUrl = "/SET/NS/"+nsid;
            console.log(reqUrl);
            axios.get(reqUrl,{
                headers:{
                    'Authorization': apiInfo
                }
            }).then(result=>{
                var data = result.data
                console.log(data);
                location.href = "/Dashboard/NS";
             })
        }else{
            alert("NameSpace가 등록되어 있지 않습니다.\n등록페이지로 이동합니다.")
            location.href ="/NS/reg";
        }
        
    } 
    </script>    

{{end}}
