{{define "MenuLeft"}}

		<div class="leftmenu">
			
			<ul class="nav">
				<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#operation" id="tab_operation">Operation</a></li>
				<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#setting" id="tab_setting">Setting</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade" id="operation">
					<ul class="menu">
						<li  id="Dashboard">
							<a href="javascript:void(0);">Dashboard</a>
							<ul>
								<li id="NS"><a href="/Dashboard/NS">NS</a></li>
								<li id="Global"><a href="/Dashboard/Global">Global</a></li>
							</ul>
						</li>
						<li  id="menu_level2_manage">
							<a href="javascript:void(0);">Manage</a>
							<ul>
								<li id="menu_level3_mcis"><a href="/operation/manage/mcis/mngform/">MCIS</a></li>
								<li id="MC-App"><a href="!#">MC-App</a></li>
							</ul>
						</li>
						<li id="Monitoring">
							<a href="javascript:void(0);">Monitoring</a>
							<ul>
								<li id="MCIS"><a href="/Monitoring/MCIS/list">MCIS</a></li>
								<li id="MC-App"><a href="/operation/Monitoring_McApp.html">MC-App</a></li>
							</ul>
						</li>
						<li id="Policy">
							<a href="javascript:void(0);">Policy</a>
							<ul>
								<li><a href="../operation/Policy_Monitoring.html">Monitoring</a></li>
								<li><a href="../operation/Policy_Threshold.html">Threshold</a></li>
								<li><a href="../operation/Policy_Placement.html">Placement</a></li>
							</ul>
						</li>
						<li id="About">
							<a href="javascript:void(0);">About</a>
							<ul>
								<li><a href="../operation/About.html">About</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div class="tab-pane fade" id="setting">
					<ul class="menu">
						<!-- <li id="Resources">
							<a href="javascript:void(0);">Resources</a>
							<ul>
								<li id="net"><a href="/Vpc/list">Network</a></li>
								<li id="sg"><a href="/SecurityGroup/list">Security</a></li>
								<li id="ssh"><a href="/SSH/list">SSH key</a></li>
								<li id="image"><a href="/Image/list">(Server) Image</a></li>
								<li id="spec"><a href="/Spec/list">(Server) Spec</a></li>
							</ul>
						</li> -->
						<li id="menu_level2_resources">
							<a href="javascript:void(0);">Resources</a>
							<ul>
								<li id="menu_level3_network"><a href="/setting/resources/network/mngform">Network</a></li>
								<li id="menu_level3_securitygroup"><a href="/setting/resources/securitygroup/mngform">Security</a></li>
								<li id="menu_level3_sshkey"><a href="/setting/resources/sshkey/mngform">SSH key</a></li>
								<li id="menu_level3_serverimage"><a href="/setting/resources/machineimage/mngform">(Server) Image</a></li>
								<li id="menu_level3_instancespec"><a href="/setting/resources/instancespec/mngform">(Server) Spec</a></li>
							</ul>
						</li>
						<li id="AppRes">
							<a href="javascript:void(0);">App Resource</a>
							<ul>
								<li><a href="!#">(Server) Image</a></li>
								<li><a href="!#">Pod</a></li>
							</ul>
						</li>
						<!-- <li id="Cloud">
							<a href="javascript:void(0);">Cloud Connections</a>
							<ul>
								<li id="Connection"><a href="/setting/connections/cloudconnectionconfig/mngform">Cloud Connections</a></li>
							</ul>
						</li>
						 -->
						<li id="menu_level2_connections">
							<a href="javascript:void(0);">Cloud Connections</a>
							<ul>
								<li id="menu_level3_cloudconnectionconfig"><a href="/setting/connections/cloudconnectionconfig/mngform">Cloud Connections</a></li>
							</ul>
						</li>
						<!-- <li id="NameSpace">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id="NS" ><a href="/setting/namespaces/namespace/mngform">NameSpace</a></li>
							</ul>
						</li> -->
						<li id="menu_level2_namespaces">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id="menu_level3_namespace" ><a href="/setting/namespaces/namespace/mngform">NameSpace</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<!-- //menu -->
		<script>
			// 좌측메뉴 선택표시			
			lnb_on();
		</script>
{{end}}